@model RoleTopMVC.ViewModels.DashboardViewModel

<main>
    <h2>DASHBOARD ADM</h2>
    <br>
    <br>
    <div id="main-manage-events">

        <h2>STATUS</h2>
        <br>
        <br>

        <div id="status-events"> 
            <div id="accept">
                <h3>APROVADOS</h3>
                <p>@Model.AgendamentosAprovados</p>
            </div>

            <div id="refuse">
                <h3>RECUSADOS</h3>
                <p>@Model.AgendamentosReprovados</p>
            </div>

            <div id="pending">
                <h3>PENDENTES</h3>
                <p>@Model.AgendamentosPendentes</p>
            </div>
        </div>

        <br>
        <br>

        <div id="table-manage-events">
            <table>
                <caption>
                <h3>SOLICITAÇÕES DE EVENTOS</h3> 
                <p style="color: yellow">AGENDAMENTOS ATUALIZADOS EM @DateTime.Now</p>
                </caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>EMAIL</th>
                        <th>ENDEREÇO</th>
                        <th>EVENTO</th>
                        <th>DATA</th>
                        <th>DESCRIÇÃO</th>
                        <th>APROVAR</th>
                        <th>REPROVAR</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var agendamento in Model.Agendamentos){
                        <tr>
                            <td>@agendamento.Id</td>
                            <td>@agendamento.Cliente.Nome</td>
                            <td>@agendamento.Cliente.Email</td>
                            <td>@agendamento.Cliente.Endereco</td>
                            <td>@agendamento.Evento.NomeEvento</td>
                            <td>@agendamento.DataAgendamento</td>
                            <td>@agendamento.Evento.DescricaoEvento</td>
                            <td><a href='@Url.Action("Aprovar", "Agendamento", new {id = @agendamento.Id})'><img src="~/img/yes.png"></a></td>
                            <td><a href='@Url.Action("Reprovar", "Agendamento", new {id = @agendamento.Id})'><img src="~/img/no.png"></a></td>
                        </tr>
                    }   
                </tbody> 
            </table>
        </div>
    </div>
</main>